{% for input_id,input in contact_form %}
    {% if input.placeholder == false %}
        <label
                class="fm-label{% if input.required %} fm-label--required{% endif %}"
                for="{{ input_id }}">{{ input.label }}</label>
    {% endif %}
    <input
            id="{{ input_id }}"
            type="{{ input.type }}"
            {% if input.placeholder %}placeholder="{{ input.label }}"{% endif %}
            name="{{ input_id }}"
            {% if input.required %}required{% endif %}>
    <div class="input-sep input-sep--{{ input_id|replace({'.': '', '[': '', ']': '' }) }}"></div>
{% endfor %}