<nav class="header--nav">
    <ul>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('about') %} active{% endif %}"
               href="{{ url.generate('about') }}">{% if active_response.locale == 'de-DE' %}Über Uns{% else %}About{% endif %}</a>
        </li>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('contact') %} active{% endif %}"
               href="{{ url.generate('contact') }}">{% if active_response.locale == 'de-DE' %}Kontakt{% else %}Contact{% endif %}</a>
        </li>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('product-list') %} active{% endif %}"
               href="{{ url.generate('product-list') }}">{% if active_response.locale == 'de-DE' %}Produkte{% else %}Products{% endif %}</a>
        </li>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('order') %} active{% endif %}"
               href="{{ url.generate('order') }}">{% if active_response.locale == 'de-DE' %}Bestellen{% else %}Order{% endif %}</a>
        </li>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('privacy') %} active{% endif %}"
               href="{{ url.generate('privacy') }}">{% if active_response.locale == 'de-DE' %}Datenschutz{% else %}Privacy{% endif %}</a>
        </li>
        <li>
            <a class="nav--item nav--item-main{% if url.active == url.generate('impress') %} active{% endif %}"
               href="{{ url.generate('impress') }}">{% if active_response.locale == 'de-DE' %}Impressum{% else %}Impress{% endif %}</a>
        </li>
        {% if active_response.locale == 'de-DE' %}
            <li>
                <a class="nav--item nav--item-main"
                   href="{{ url.generateActiveHook('en-US', active_response.response) }}">EN</a>
            </li>
        {% else %}
            <li>
                <a class="nav--item nav--item-main"
                   href="{{ url.generateActiveHook('de-DE', active_response.response) }}">DE</a>
            </li>
        {% endif %}
    </ul>
</nav>