<div class="newsletter-register">
    {% if nl_subscribing %}
        <p>Please check your mails for the confirmation link.</p>
    {% endif %}
    {% if nl_subscribed %}
        <p>You have confirmed your newsletter registration.</p>
    {% endif %}
    {% if nl_unsubscribed %}
        <p>Sad to see you go, successfully unsubscribed from our newsletter.</p>
    {% endif %}
    <div class="newsletter-register--container">
        <form method="POST" class="newsletter-register--fm" action="{{ url.generate('newsletter') }}">
            <input name="email" placeholder="E-Mail" required="" type="email">
            <button class="btn">register</button>
            <div style="width: 100%">
                <input id="accept-nl" style="display: inline-block; margin-right: 5px;" required="" type="checkbox"><label for="accept-nl" style="display:inline-block;">Yes,
                    yes, yes.</label>
            </div>
        </form>
    </div>
</div>