{% extends namespace ~ 'default_content.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block head_begin %}
    <base href="/demo-hook-out/">
{% endblock %}

{% block content_end %}
    {% include namespace ~ 'component/newsletter.twig' %}
{% endblock %}

{% block foot_js %}
    {{ parent() }}
    <script src="{{ url.asset }}js{% if false == frontend.debug %}.min{% endif %}.js" async defer></script>
{% endblock %}