{% extends namespace ~ '_meta.twig' %}

{% block header_inside %}
    <div class="header--logo-wrapper">
        <img src="media/hydro-logo-clipped.png" alt="Hydro Logo" title="Hydro Logo">
    </div>
    <p class="header--slogan"><span>Hydro Backend</span><span>Hydro Business Backend - Variant Wine & Events</span></p>
{% endblock %}

{% block container_inner %}
    <section class="container--inner">

        {% block sidebar_left %}{% endblock %}
        {% block content %}{% endblock %}
        {% block sidebar_right %}{% endblock %}

        {% block mulab_content_left %}
            {% include namespace ~ 'block/left/left.twig' %}
        {% endblock %}

        {% block mulab_content_center %}
            <div class="center">
                {% block mulab_content_center_container %}
                    <main class="center--container">
                        {% block mulab_content_center_inside %}
                        {% endblock %}
                    </main>
                {% endblock %}
            </div>
        {% endblock %}

    </section>
{% endblock %}