{% set body = {'class': ['page--contact']} %}
{% extends namespace ~ '_meta.twig' %}

{% block content_container %}
    <main class="content--container">
        {% block content_inside %}
            <div class="content-begin">
            </div>
            <div class="content-inside">
                {% if submit_result %}
                    <p>Your request as been delivered, please wait for our reply.</p>
                {% else %}
                    <form
                            class="contact-form"
                            {% if contact_form.id %}id="{{ contact_form.id }}"{% endif %}
                            action="{{ url.generate('contact') }}" method="POST">
                        <input type="hidden" name="action" value="submit">

                        {% include namespace ~ 'component/contact.twig' with {
                            contact_form: {
                                'user[name]': {
                                    'label': 'Name',
                                    'type': 'text',
                                    'required': true
                                },
                                'user[email]': {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'required': true
                                },
                                'user[phone]': {
                                    'label': 'Telefon',
                                    'type': 'tel'
                                },
                                'user[street]': {
                                    'label': 'Straße',
                                    'type': 'text'
                                },
                                'user[street_no]': {
                                    'label': 'Nr.',
                                    'type': 'text'
                                },
                                'user[post_code]': {
                                    'label': 'Plz.',
                                    'type': 'text'
                                },
                                'user[city]': {
                                    'label': 'Stadt',
                                    'type': 'text'
                                }
                            }
                        } %}

                        <label for="contact[message]" class="fm-label fm-label--required">Nachricht</label>
                        <textarea id="contact[message]" name="contact[message]" required></textarea>
                        <div class="input-sep input-sep--contactmessage"></div>

                        {#<div style="width: 100%">
                            <input id="accept" style="display: inline-block; margin-right: 5px;" required="" type="checkbox"><label for="accept" style="display:inline-block;">Ich akzeptiere die <a target="_blank" href="{{ url.base }}datenschutz">Datenschutzerklärung</a></label>
                        </div>#}
                        <p style="width: 100%;"><b>Pflichtfeld</b>, optionales Feld</p>
                        <button type="submit" class="btn">absenden</button>
                    </form>
                {% endif %}
            </div>
        {% endblock %}
    </main>
    <section class="content-end--container">
        {% block content_end %}
            {{ parent() }}
        {% endblock %}
    </section>
{% endblock %}