{% set body = {'class': ['page--auth']} %}
{% extends namespace ~ '_meta.twig' %}

{% block header %}
    {% if active_response.locale == "*" %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content_container %}
    <main class="content--container">
        {% block content_inside %}
            {% if active_response.locale == "*" %}
                <div class="content-begin" style="text-align:center;padding-top:25px;">
                    <a href="{{ url.generateActiveHook('de-DE', 'home') }}">Home Deutsch</a>&nbsp;&nbsp;
                    <a href="{{ url.generateActiveHook('en-US', 'home') }}">Home English</a>
                </div>
            {% else %}
                <div class="content-begin">
                    {% if article %}
                        {% if article_data %}
                            <table style="border: 0">
                                <tr>
                                    <td>ActiveResponse Locale</td>
                                    <td>{{ active_response.locale }}</td>
                                </tr>
                                <tr>
                                    <td>ID</td>
                                    <td>{{ article.getId() }}</td>
                                </tr>
                                <tr>
                                    <td>Section</td>
                                    <td>{{ article.getSection() }}</td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ article.getName() }}</td>
                                </tr>
                                <tr>
                                    <td>Tag</td>
                                    <td>{{ article.getTag() }}</td>
                                </tr>
                            </table>
                            <p>ID {{ article_data.getId() }}</p>
                            <p>Meta.Head.Title {{ article_data.getMeta().head.title }}</p>
                        {% else %}
                            <p>Article Found, but no Data for Article.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="content-inside">
                    {% if content_model %}
                        {% if content_model.renderBlock('main_content') is iterable %}
                            {% for block in content_model.renderBlock('main_content') %}
                                <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                                    {{ block|raw }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ content_model.renderBlock('main_content')|raw }}
                        {% endif %}
                    {% else %}
                        no-content-model
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}
    </main>
    <section class="content-end--container">
        {% block content_end %}
            {% if active_response.locale != "*" %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}