{% set body = {'class': ['page--product-list']} %}
{% extends namespace ~ '_meta.twig' %}

{% block content_container %}
    <main class="content--container">
        {% block content_inside %}
            <div class="content-begin">
                {% if content_model %}
                    {% if content_model.renderBlock('content_begin') is iterable %}
                        {% for block in content_model.renderBlock('content_begin') %}
                            <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                                {{ block|raw }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ content_model.renderBlock('content_begin')|raw }}
                    {% endif %}
                {% else %}
                    no-content-model
                {% endif %}
            </div>
            <div class="content-inside">
                <p>order_success {{ dump(order_success) }}</p>
                <form class="order-form"
                      {% if contact_form.id %}id="{{ contact_form.id }}"{% endif %}
                      action="{{ url.generate('order') }}" method="POST">
                    {% if shop_products %}
                        {% for product in shop_products %}
                            <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                                <h3>{{ product.getData().info.name }}</h3>
                                {% if product.getData().info.mainImage.file[0] %}
                                    {{ url.asset }}{{ product.getData().info.mainImage.file[0]|slice(1) }}
                                {% endif %}
                                {% if product.getPrice() and product.getTaxGroup() %}
                                    <div class="order-list--product--price">
                                        <span class="order-list--product--data-price-value">{{ (product.getPrice()/100)|number_format(2, '.', ',') }}</span>
                                        <span class="order-list--product--data-price-label">€*</span>
                                        <span class="order-list--product--data-size">{{ (product.getPrice()/100) }}</span>
                                        <span class="order-list--product--data-tax">
                                            incl. {{ product.getTaxGroup() }}% Tax.</span>
                                        {#<span class="order-list--product--data-base-price">{{ (product.data.price.value/product.data.size.value)|round(2, 'common') }} {% if product.data.price.unit == 'euro' %}€{% endif %}
                                            / {% if product.data.size.unit == 'liter' %}Ltr.{% endif %}*</span>#}
                                    </div>
                                {% endif %}
                                {% if product.getBuyAble() %}
                                    <div class="order-list--product--order">
                                        <input type="number" min="0" max="1000" title="Quantity" name="products[{{ product.getId() }}]">
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        no-shop-products
                    {% endif %}

                    {% include namespace ~ 'component/contact.twig' with {
                        contact_form: {
                            'user[name]': {
                                'label': 'Name',
                                'type': 'text',
                                'required': true,
                                'placeholder': false
                            },
                            'user[email]': {
                                'label': 'E-Mail',
                                'type': 'email',
                                'required': true
                            },
                            'user[phone]': {
                                'label': 'Telefon',
                                'type': 'tel',
                                'required': false
                            },
                            'user[street]': {
                                'label': 'Straße',
                                'type': 'text',
                                'required': false
                            },
                            'user[street_no]': {
                                'label': 'Nr.',
                                'type': 'text',
                                'required': false
                            },
                            'user[post_code]': {
                                'label': 'Plz.',
                                'type': 'text',
                                'required': false
                            },
                            'user[city]': {
                                'label': 'Stadt',
                                'type': 'text',
                                'required': false
                            }
                        }
                    } %}

                    <div style="width: 100%; display: flex; padding: 10px 0;">
                        <input id="accept" style="display: inline-block; margin-right: 5px;" required="" type="checkbox">
                        <label for="accept" style="display:inline-block;">
                            I accept <a href="{{ url.generate('privacy') }}">Privacy</a>
                            todo: change this textblock.
                        </label>
                    </div>
                    <button type="submit" class="btn">order now</button>
                </form>
            </div>
        {% endblock %}
    </main>
    <section class="content-end--container">
        {% block content_end %}
            {{ parent() }}
        {% endblock %}
    </section>
{% endblock %}