{% set body = {'class': ['page--product-list']} %}
{% extends namespace ~ '_meta.twig' %}

{% block content_container %}
    <main class="content--container">
        {% block content_inside %}
            <div class="content-begin">
                {% if content_model %}
                    {% if content_model.renderBlock('content_begin') is iterable %}
                        {% for block in content_model.renderBlock('content_begin') %}
                            <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                                {{ block|raw }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ content_model.renderBlock('content_begin')|raw }}
                    {% endif %}
                {% else %}
                    no-content-model
                {% endif %}
            </div>
            <div class="content-inside">
                {% if shop_products %}
                    {% for product in shop_products %}
                        <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                            <h3>{{ product.getData().info.name }}</h3>
                            {% if product.getData().info.mainImage.file[0] %}
                                {{ url.asset }}{{ product.getData().info.mainImage.file[0]|slice(1) }}
                            {% endif %}
                            <p>
                                <span>{{ product.getTaxGroup() }}</span>
                                <span>{{ product.getPrice() }}</span>
                            </p>
                            {% if product.getBuyAble() %}
                                <button>buy_able</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endblock %}
    </main>
    <section class="content-end--container">
        {% block content_end %}
            {{ parent() }}
        {% endblock %}
    </section>
{% endblock %}