$fore-form-pretty--group--top-bar: 28px;
.form-pretty {

    &--label {
        padding-left: 5px;
        position: absolute;
        top: 0;
        transform: translateY(calc(100% - 10px));
        transition: 0.4s transform linear, 0.4s top linear;
        pointer-events: none;
    }
    &--input {
        &:focus {
            & + .form-pretty--label {
                top: -$fore-form-pretty--group--top-bar;
                transform: translateY(0);
            }
        }
    }

    &--group {
        position: relative;
        margin-top: $fore-form-pretty--group--top-bar;
        &--label {

        }
        &--input {

        }
    }
}