<div style="margin: 10px;">
    <h1>{{ block_data.headline }}</h1>
    {{ block_data.intro|raw }}
    {{ block_data.intro_slogan|raw }}
    {% if children.render() %}
        {% if children.render() is iterable %}
            {% for block in children.render() %}
                <div style="border: 1px solid grey; margin: 3px 0; min-height: 50px;">
                    {{ block|raw }}
                </div>
            {% endfor %}
        {% else %}
            {{ children.render() }}
        {% endif %}
    {% else %}
        no-children
    {% endif %}
</div>