.body {
    $page-auth-primary: #6ab42a;
    $page-auth-secondary: #0044aa;
    background: #dedede;
    a {
        color: $page-auth-primary;
        &:hover {
            color: $page-auth-secondary;
        }
    }
    button,
    .btn {
        border: 1px solid $page-auth-primary;
        color: #ffffff;
        background: $page-auth-primary;
        &:hover {
            border-color: #ffffff;
            background: #ffffff;
            color: $page-auth-primary;
        }
    }

    input[type=email],
    input[type=password],
    input[type=text],
    input[type=tel],
    textarea {
        border: 1px solid $page-auth-primary;
        background: #ffffff;
        &:focus,
        &:hover {
            border-color: $page-auth-secondary;
            color: $page-auth-secondary;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        &--top {
            display: flex;
            flex-direction: column;
        }
        .logo {
            margin: 0 auto;
            img {
                height: 250px;
                width: auto;
            }
        }
        h3 {
            color: $for-grayscale-base;
            margin: 0;
            text-align: center;
            font-size: 1.2rem;
        }
        &--nav {
            ul {
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;
                li {
                    padding: 3px 6px;
                    &:first-child {
                        margin-left: auto;
                    }
                    &:last-child {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    .footer--copyright {
        padding: 25px;
        text-align: center;
    }

    .footer--container {
        padding: 0 5px;
        * {
            font-size: 0.9rem;
        }
        .footer--copyright {
            line-height: 32px;
        }
    }
}