@import '@formanta/sass-core/calculation/function';
@import '@formanta/sass-core/color/function';

$theme--asset-path: '/data/out/';
$theme--transition: 0.4s linear;

$theme--content--padding: 0 20px 15px 20px;
$theme--input--padding: 12px 15px;
$theme--btn--padding: 15px 20px;

@import 'config/animation';
@import 'config/color';
@import 'config/container';
@import 'config/grid';
@import 'config/grid-gutter';
@import 'config/output';
@import 'config/typography';

@import 'normalize.css/normalize';

@mixin mi() {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    margin: -1px 0 0 0;
    overflow: hidden;
    border: 0;
    text-indent: -999em;
}

@import '@formanta/sass-core/all';

button,
a {
    transition: $theme--transition color, $theme--transition background;
}

/*ul {
    padding-left : 30px;
    li {
        padding : 2px 0;
    }
}*/

.btn {
    border: 1px solid $for-general-color-primary;
    color: #ffffff;
    font-weight: bold;
    background: $for-general-color-primary;
    transition: $theme--transition border, $theme--transition background;
    padding: $theme--btn--padding;
    text-decoration: none;

    &:hover {
        border-color: #ffffff;
        background: #ffffff;
        color: $for-general-color-primary;
        cursor: pointer;
    }
}

input[type=email],
input[type=password],
input[type=text],
input[type=tel],
textarea {
    border: 1px solid $for-general-color-primary;
    background: #ffffff;
    transition: $theme--transition border, $theme--transition background;
    color: $for-general-font-color;
    padding: $theme--input--padding;

    &:focus,
    &:hover {
        border-color: $for-general-color-secondary;
        color: $for-general-color-secondary;
    }
}

label {
    display: block;
}