@import "meta";

.header--top,
.header--content .inner,
.container--inner {
    @include for-container;
}

.google-maps {
    iframe {
        width: 100%;
        height: 425px;
    }
}

.contact-form {
    input,
    textarea {
        display: block;
        margin-bottom: 3px;
    }
}

@import "component/all";

@import "design";