////
/// Color: Config
/// ================
/// @group Color
/// @author Michael Becker
////

/// @prop {Int} $for-grayscale-qty [5] - how big the grayscale should be, needs to be an eneven number, half is negative (n1, n2, n3..), half positive (p1, p2, p3...)
$for-grayscale-qty: 5 !default;
/// @prop {Color} $for-grayscale-base [#7f7f7f] - center of the grayscale
$for-grayscale-base: #7f7f7f !default;
/// @prop {Color} $for-grayscale-base-n2 [for-darken($for-grayscale-base, 80)] - negative grayscale, dark step 2
$for-grayscale-base-n2: for-darken($for-grayscale-base, 80%) !default;
/// @prop {Color} $for-grayscale-base-n2 [for-darken($for-grayscale-base, 40)] - negative grayscale, dark step 1
$for-grayscale-base-n1: for-darken($for-grayscale-base, 40%) !default;
/// @prop {Color} $for-grayscale-base-p1 [for-lighten($for-grayscale-base, 40)] - positive grayscale, light step 1
$for-grayscale-base-p1: for-lighten($for-grayscale-base, 40%) !default;
/// @prop {Color} $for-grayscale-base-p2 [for-lighten($for-grayscale-base, 80)] - positive grayscale, light step 2
$for-grayscale-base-p2: for-lighten($for-grayscale-base, 80%) !default;

/// @prop {Color} $for-general-color-primary [#6ab42a] - primary-color
//$for-general-color-primary : #849974 !default;

// dark from color scheme https://www.canva.com/learn/wp-content/uploads/2015/10/91-tb-728x0.jpg https://www.canva.com/learn/brand-color-palette/
$for-general-color-primary: #613a43 !default;

/// @prop {Color} $for-general-color-secondary [#04a] - secondary-color
$for-general-color-secondary: #849974 !default;