////
/// Grid: Config
/// ================
/// All the grid default things.
/// @group Grid
/// @author Michael Becker
////

//
// Breakpoint
// ##################################################
/// @prop {Size} $for-bp-lgx-min-size [3000px] - the minimum size for screen size lg eXtra
$for-bp-lgx-min-size: 1600px !default;
/// @prop {Size} $for-bp-lg-min-size [1200px] - the minimum size for screen size lg
$for-bp-lg-min-size: 1200px !default;
/// @prop {Size} $for-bp-md-min-size [992px] - the minimum size for screen size md
$for-bp-md-min-size: 992px !default;
/// @prop {Size} $for-bp-sm-min-size [768px] - the minimum size for screen size sm
$for-bp-sm-min-size: 768px !default;
/// @prop {Size} $for-bp-smx-max-size [$for-bp-sm-min-size - 1] - the maximum size for screen size smale eXtra
$for-bp-smx-max-size: $for-bp-sm-min-size - 1 !default;

//
// Columns
// ##################################################
/// @prop {Int} $for-col-qty [24] - how much columns the grid should be based of, 12 or 24 are a good match
$for-col-qty: 24 !default;
/// @prop {Size} $for-col-basic-size [100% / $for-col-qty] - basic size for one column element
$for-col-basic-size: 100% / $for-col-qty !default;