////
/// Typography
/// ================
/// All general styling for text (font general, h1-h6, p, a, a:hover)
/// @group Typography
/// @author Michael Becker
////

// Color
// ##########

/// @prop {Color} $for-general-font-color [$for-grayscale-base] - in typography
$for-general-font-color: #2c2c3d;
/// @prop {Color} $for-h1-font-color [$for-general-font-color] - in typography
$for-h1-font-color: $for-general-font-color !default;
/// @prop {Color} $for-h2-font-color [$for-general-font-color] - in typography
$for-h2-font-color: $for-general-font-color !default;
/// @prop {Color} $for-h3-font-color [$for-general-font-color] - in typography
$for-h3-font-color: $for-general-font-color !default;
/// @prop {Color} $for-h4-font-color [$for-general-font-color] - in typography
$for-h4-font-color: $for-general-font-color !default;
/// @prop {Color} $for-h5-font-color [$for-general-font-color] - in typography
$for-h5-font-color: $for-general-font-color !default;
/// @prop {Color} $for-h6-font-color [$for-general-font-color] - in typography
$for-h6-font-color: $for-general-font-color !default;
/// @prop {Color} $for-p-font-color [$for-general-font-color] - in typography
$for-p-font-color: #2c2c3d !default;
/// @prop {Color} $for-link-font-color [$for-general-font-color] - in typography
$for-link-font-color: $for-general-color-secondary !default;
/// @prop {Color} $for-link-hover-font-color [$for-link-font-color] - in typography
$for-link-hover-font-color: #2C2C3D;

// Size
// ##########

/// @prop {Size} $for-general-font-size [1rem] - in typography
$for-general-font-size: 1rem !default;
/// @prop {Size} $for-h1-font-size [$for-general-font-size * 2.5] - in typography
$for-h1-font-size: $for-general-font-size * 2.5 !default;
/// @prop {Size} $for-h2-font-size [$for-general-font-size * 2] - in typography
$for-h2-font-size: $for-general-font-size * 2 !default;
/// @prop {Size} $for-h3-font-size [$for-general-font-size * 1.75] - in typography
$for-h3-font-size: $for-general-font-size * 1.75 !default;
/// @prop {Size} $for-h4-font-size [$for-general-font-size * 1.5] - in typography
$for-h4-font-size: $for-general-font-size * 1.5 !default;
/// @prop {Size} $for-h5-font-size [$for-general-font-size * 1.3] - in typography
$for-h5-font-size: $for-general-font-size * 1.3 !default;
/// @prop {Size} $for-h6-font-size [$for-general-font-size * 1.1] - in typography
$for-h6-font-size: $for-general-font-size * 1.1 !default;
/// @prop {Size} $for-p-font-size [$for-general-font-size] - in typography
$for-p-font-size: $for-general-font-size !default;
/// @prop {Size} $for-link-font-size [$for-general-font-size] - in typography
$for-link-font-size: $for-general-font-size !default;
/// @prop {Size} $for-link-hover-font-size [$for-link-font-size] - in typography
$for-link-hover-font-size: $for-link-font-size !default;

// Font Family
// ##########

/// @prop {String} $for-general-font-family [wwwwwwwwwww] - in typography
$for-general-font-family: Helvetica, sans-serif !default;
/// @prop {String} $for-h1-font-family [$for-general-font-family] - in typography
$for-h1-font-family: $for-general-font-family !default;
/// @prop {String} $for-h2-font-family [$for-general-font-family] - in typography
$for-h2-font-family: $for-general-font-family !default;
/// @prop {String} $for-h3-font-family [$for-general-font-family] - in typography
$for-h3-font-family: $for-general-font-family !default;
/// @prop {String} $for-h4-font-family [$for-general-font-family] - in typography
$for-h4-font-family: $for-general-font-family !default;
/// @prop {String} $for-h5-font-family [$for-general-font-family] - in typography
$for-h5-font-family: $for-general-font-family !default;
/// @prop {String} $for-h6-font-family [$for-general-font-family] - in typography
$for-h6-font-family: $for-general-font-family !default;
/// @prop {String} $for-p-font-family [$for-general-font-family] - in typography
$for-p-font-family: $for-general-font-family !default;
/// @prop {String} $for-link-font-family [$for-general-font-family] - in typography
$for-link-font-family: $for-general-font-family !default;
/// @prop {String} $for-link-hover-font-family [$for-link-font-family] - in typography
$for-link-hover-font-family: $for-link-font-family !default;

// Font Weight
// ##########

/// @prop {Int|String} $for-general-font-weight [400] - in typography
$for-general-font-weight: 400 !default;
/// @prop {Int|String} $for-h1-font-weight [$for-general-font-weight] - in typography
$for-h1-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-h2-font-weight [$for-general-font-weight] - in typography
$for-h2-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-h3-font-weight [$for-general-font-weight] - in typography
$for-h3-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-h4-font-weight [$for-general-font-weight] - in typography
$for-h4-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-h5-font-weight [$for-general-font-weight] - in typography
$for-h5-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-h6-font-weight [$for-general-font-weight] - in typography
$for-h6-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-p-font-weight [$for-general-font-weight] - in typography
$for-p-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-link-font-weight [$for-general-font-weight] - in typography
$for-link-font-weight: $for-general-font-weight !default;
/// @prop {Int|String} $for-link-hover-font-weight [$for-link-font-weight] - in typography
$for-link-hover-font-weight: $for-link-font-weight !default;

// Line Height
// ##########

/// @prop {Size|String} $for-general-line-height [normal] - in typography
$for-general-line-height: normal !default;
/// @prop {Size|String} $for-h1-line-height [$for-general-line-height] - in typography
$for-h1-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-h2-line-height [$for-general-line-height] - in typography
$for-h2-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-h3-line-height [$for-general-line-height] - in typography
$for-h3-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-h4-line-height [$for-general-line-height] - in typography
$for-h4-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-h5-line-height [$for-general-line-height] - in typography
$for-h5-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-h6-line-height [$for-general-line-height] - in typography
$for-h6-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-p-line-height [$for-general-line-height] - in typography
$for-p-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-link-line-height [$for-general-line-height] - in typography
$for-link-line-height: $for-general-line-height !default;
/// @prop {Size|String} $for-link-hover-line-height [$for-link-line-height] - in typography
$for-link-hover-line-height: $for-link-line-height !default;

// Font Style
// ##########

/// @prop {String} $for-general-font-style [normal] - in typography
$for-general-font-style: normal !default;
/// @prop {String} $for-h1-font-style [$for-general-font-style] - in typography
$for-h1-font-style: $for-general-font-style !default;
/// @prop {String} $for-h2-font-style [$for-general-font-style] - in typography
$for-h2-font-style: $for-general-font-style !default;
/// @prop {String} $for-h4-font-style [$for-general-font-style] - in typography
$for-h3-font-style: $for-general-font-style !default;
/// @prop {String} $for-h5-font-style [$for-general-font-style] - in typography
$for-h4-font-style: $for-general-font-style !default;
/// @prop {String} $for-h6-font-style [$for-general-font-style] - in typography
$for-h5-font-style: $for-general-font-style !default;
/// @prop {String} $for-h6-font-style [$for-general-font-style] - in typography
$for-h6-font-style: $for-general-font-style !default;
/// @prop {String} $for-p-font-style [$for-general-font-style] - in typography
$for-p-font-style: $for-general-font-style !default;
/// @prop {String} $for-link-font-style [$for-general-font-style] - in typography
$for-link-font-style: $for-general-font-style !default;
/// @prop {String} $for-link-hover-font-style [$for-link-font-style] - in typography
$for-link-hover-font-style: $for-link-font-style !default;

// Font Variant
// ##########

/// @prop {String} $for-general-font-variant [normal] - in typography
$for-general-font-variant: normal !default;
/// @prop {String} $for-h1-font-variant [$for-general-font-variant] - in typography
$for-h1-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-h2-font-variant [$for-general-font-variant] - in typography
$for-h2-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-h3-font-variant [$for-general-font-variant] - in typography
$for-h3-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-h4-font-variant [$for-general-font-variant] - in typography
$for-h4-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-h5-font-variant [$for-general-font-variant] - in typography
$for-h5-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-h6-font-variant [$for-general-font-variant] - in typography
$for-h6-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-p-font-variant [$for-general-font-variant] - in typography
$for-p-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-link-font-variant [$for-general-font-variant] - in typography
$for-link-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-link-hover-font-variant [$for-link-font-variant] - in typography
$for-link-hover-font-variant: $for-link-font-variant !default;

// Text Decoration
// ##########

/// @prop {String} $for-general-text-decoration [none] - in typography
$for-general-text-decoration: none !default;
/// @prop {String} $for-h1-text-decoration [$for-general-text-decoration] - in typography
$for-h1-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-h2-text-decoration [$for-general-text-decoration] - in typography
$for-h2-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-h3-text-decoration [$for-general-text-decoration] - in typography
$for-h3-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-h4-text-decoration [$for-general-text-decoration] - in typography
$for-h4-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-h5-text-decoration [$for-general-text-decoration] - in typography
$for-h5-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-h6-text-decoration [$for-general-text-decoration] - in typography
$for-h6-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-p-text-decoration [$for-general-text-decoration] - in typography
$for-p-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-link-text-decoration [$for-general-text-decoration] - in typography
$for-link-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-link-hover-text-decoration [$for-link-text-decoration] - in typography
$for-link-hover-text-decoration: $for-link-text-decoration !default;

// Text Transform
// ##########

/// @prop {String} $for-general-text-transform [none] - in typography
$for-general-text-transform: none !default;
/// @prop {String} $for-h1-text-transform [$for-general-text-transform] - in typography
$for-h1-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-h2-text-transform [$for-general-text-transform] - in typography
$for-h2-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-h3-text-transform [$for-general-text-transform] - in typography
$for-h3-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-h4-text-transform [$for-general-text-transform] - in typography
$for-h4-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-h5-text-transform [$for-general-text-transform] - in typography
$for-h5-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-h6-text-transform [$for-general-text-transform] - in typography
$for-h6-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-p-text-transform [$for-general-text-transform] - in typography
$for-p-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-link-text-transform [$for-general-text-transform] - in typography
$for-link-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-link-hover-text-transform [$for-link-text-transform] - in typography
$for-link-hover-text-transform: $for-link-text-transform !default;

// Text Align
// ##########

/// @prop {String} $for-general-text-align [left] - in typography
$for-general-text-align: left !default;
/// @prop {String} $for-h1-text-align [$for-general-text-align] - in typography
$for-h1-text-align: $for-general-text-align !default;
/// @prop {String} $for-h2-text-align [$for-general-text-align] - in typography
$for-h2-text-align: $for-general-text-align !default;
/// @prop {String} $for-h3-text-align [$for-general-text-align] - in typography
$for-h3-text-align: $for-general-text-align !default;
/// @prop {String} $for-h4-text-align [$for-general-text-align] - in typography
$for-h4-text-align: $for-general-text-align !default;
/// @prop {String} $for-h5-text-align [$for-general-text-align] - in typography
$for-h5-text-align: $for-general-text-align !default;
/// @prop {String} $for-h6-text-align [$for-general-text-align] - in typography
$for-h6-text-align: $for-general-text-align !default;
/// @prop {String} $for-p-text-align [$for-general-text-align] - in typography
$for-p-text-align: $for-general-text-align !default;
/// @prop {String} $for-link-text-align [$for-general-text-align] - in typography
$for-link-text-align: $for-general-text-align !default;
/// @prop {String} $for-link-hover-text-align [$for-link-text-align] - in typography
$for-link-hover-text-align: $for-link-text-align !default;

// Margins
// ##########

/// @prop {String} $for-general-margin-horizontal [left] - margin faktor for margin calc in typography
$for-general-margin-horizontal: 0 !default;
/// @prop {String} $for-general-margin-vertical [left] - margin faktor for margin calc in typography
$for-general-margin-vertical: 0.85 !default;
/// @prop {String} $for-h1-margin [calculation] - in typography
$for-h1-margin: 0 0 ($for-h1-font-size * 1.3 * $for-general-margin-vertical) ($for-h1-font-size * 1.3 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-h2-margin [calculation] - in typography
$for-h2-margin: 0 0 ($for-h2-font-size * 0.9 * $for-general-margin-vertical) ($for-h2-font-size * 0.9 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-h3-margin [calculation] - in typography
$for-h3-margin: 0 0 ($for-h3-font-size * 0.7 * $for-general-margin-vertical) ($for-h3-font-size * 0.7 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-h4-margin [calculation] - in typography
$for-h4-margin: 0 0 ($for-h4-font-size * 0.5 * $for-general-margin-vertical) ($for-h4-font-size * 0.5 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-h5-margin[calculation] - in typography
$for-h5-margin: 0 0 ($for-h5-font-size * 0.35 * $for-general-margin-vertical) ($for-h5-font-size * 0.35 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-h6-margin [calculation] - in typography
$for-h6-margin: 0 0 ($for-h6-font-size * 0.15 * $for-general-margin-vertical) ($for-h6-font-size * 0.15 * $for-general-margin-horizontal) !default;
/// @prop {String} $for-p-margin [calculation] - in typography
$for-p-margin: ($for-p-font-size * 0.3 * $for-general-margin-vertical) ($for-p-font-size * 0.3 * $for-general-margin-horizontal) !default;