<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#fff; margin:0; padding:0; color:#333333;">

{% block content %}

{% endblock %}

</body>
</html>
