{% extends namespace ~ 'mail/_base.twig' %}

{% block content %}
    <table width="100%" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0" style="max-width: 650px;">
        <tbody>
        <tr>
            <td style="padding-bottom: 25px">Datum</td>
            <td style="padding-bottom: 25px">{{ message.time }}</td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px">Id</td>
            <td style="padding-bottom: 25px">{{ message.id }}</td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px">Person</td>
            <td style="padding-bottom: 25px">
                {% include namespace ~ 'mail/component/person.twig' with {
                    person: message.sender
                } %}
            </td>
        </tr>
        <tr>
            <td>Nachricht</td>
            <td style="padding-bottom: 25px">{{ message.text }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}