{% extends namespace ~ 'mail/_base.twig' %}

{% block content %}
    <table border="0" style="width: 100%;">
        <tr>
            <td style="padding-bottom: 10px;">Click on the link to confirm your newsletter registration
                with:
                <br><a style="word-break: break-all" href="{{ url.generate('newsletter') }}/confirm/{{ confirm_link }}">{{ url.generate('newsletter') }}/{{ confirm_link }}</a>
            </td>
        </tr>
    </table>
{% endblock %}