{% extends namespace ~ 'mail/_base.twig' %}

{% block content %}
    <table width="100%" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0" style="max-width: 650px;">
        <tbody>
        <tr>
            <td style="padding-bottom: 25px">Date</td>
            <td style="padding-bottom: 25px">{{ order.date }}</td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px">Order ID</td>
            <td style="padding-bottom: 25px">{{ order.id }}</td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px">Customer</td>
            <td style="padding-bottom: 25px">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>{{ order.customer.name }}</td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>{{ order.customer.email }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        {# custom data extraction example, phone is not default for customers #}
                        <td>{{ order.customer.data.phone }}</td>
                    </tr>
                    <tr>
                        <td>Street</td>
                        <td>{{ order.customer.street }}</td>
                    </tr>
                    <tr>
                        <td>No.</td>
                        <td>{{ order.customer.street_no }}</td>
                    </tr>
                    <tr>
                        <td>Post-Code.</td>
                        <td>{{ order.customer.post_code }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ order.customer.city }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Products</td>
            <td>
                <table>
                    {% for product in order.products %}
                        <tr>
                            <td style="padding-bottom: 25px">
                                <table>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ product.product.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>ProductNo.</td>
                                        <td>{{ product.product.product_no }}</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>{{ (product.product.price/100)|number_format(2, '.', ',') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td>{{ product.qty }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}