<table>
    {% if person.name %}
        <tr>
            <td>Name</td>
            <td>{{ person.name }}</td>
        </tr>
    {% endif %}
    {% if person.email %}
        <tr>
            <td>E-Mail</td>
            <td>{{ person.email }}</td>
        </tr>
    {% endif %}
    {% if person.phone %}
        <tr>
            <td>Telefon</td>
            <td>{{ person.phone }}</td>
        </tr>
    {% endif %}
    {% if person.street %}
        <tr>
            <td>Straße</td>
            <td>{{ person.street }}</td>
        </tr>
    {% endif %}
    {% if person.street_no %}
        <tr>
            <td>Nr.</td>
            <td>{{ person.street_no }}</td>
        </tr>
    {% endif %}
    {% if person.post_code %}
        <tr>
            <td>Plz.</td>
            <td>{{ person.post_code }}</td>
        </tr>
    {% endif %}
    {% if person.city %}
        <tr>
            <td>Stadt</td>
            <td>{{ person.city }}</td>
        </tr>
    {% endif %}
</table>