$fore-form--group--margin-top: 4px;
$fore-form--element--gutter: 6px 4px 6px 4px;

.form {
    &--label {
        padding: $fore-form--element--gutter;
    }
    &--input {
        margin: $fore-form--element--gutter;
        &:focus {
            & + .form--label {
            }
        }
    }

    &--group {
        position: relative;
        margin-top: $fore-form--group--margin-top;
        &--label {

        }
        &--input {

        }
    }
}